@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" bg-dark>
    @* <h1 class="display-4">Hello Shubham here</h1>
    <p>Shubham Jangid <a href="https://www.linkedin.com/in/shubham-jangid-037559208/">Linkedin profile</a>.</p>
    <p>Hackerrank <a href="https://www.hackerrank.com/Jangidshubham234">Hackerrank profile</a>.</p> *@
    @* <img src="~/images/11632.jpg" /> *@
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="name fw-bold text-primary">Shubham Jangid</h1>
        <p class="lead fw-light">Currently prusing final year of computer engineering from DYPIEMR, Pune and working as Developer trainee in Netsolutions</p>
      </div>
    </div>

  <h1 class="Head display-4 fw-light text-success">Projects</h1>
  <div class="project row mb-2">
    <div class="first col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">ATM System</strong>
          <h3 class="mb-0">C# code</h3>
          <div class="mb-1 text-muted">Jan 14</div>
          <p class="card-text mb-auto">Made ATM system using c# concept like OOPS , list and control flow</p>
          <a href="https://github.com/Shubhammjangid/ATM-System" class="stretched-link">Source code</a>
        </div>
        @* <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div> *@
      </div>
    </div>
    <div class=" second col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">School Management System</strong>
          <h3 class="mb-0">Ongoing project</h3>
           
          <p class="mb-auto">School Mangement System using c# console application and SQL server mangement studio currently Ongoing project</p>
          <a href="https://github.com/Shubhammjangid/School-Mangement-System" class="stretched-link">Ongoing Source Code</a>
        </div>
        @* <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div> *@
      </div>
    </div>
  </div>


   <div class="project row mb-2">
    <div class="first col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">CALCULATOR</strong>
          <h3 class="mb-0">C# code</h3>
          <div class="mb-1 text-muted">Jan 14</div>
          <p class="card-text mb-auto">Made Calculator using c# concept like OOPS and interface for complete abstraction and multi-inheritence</p>
          <a href="https://github.com/Shubhammjangid/Delegate-Calculator-" class="stretched-link">Source code</a>
        </div>
        @* <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div> *@
      </div>
    </div>
    <div class=" second col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">GUESS THE NUMBER</strong>
          <h3 class="mb-0">C# code</h3>
           <div class="mb-1 text-muted">Jan 14</div>
          <p class="mb-auto">Guess the number game using c# inbuilt funvtions</p>
          <a href="https://github.com/Shubhammjangid/Guess-the-number-Game" class="stretched-link">Source code</a>
        </div>
        @* <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div> *@
      </div>
    </div>



  <div class="d-grid gap-2">
  <button class="btn btn-dark" type="button">@Html.ActionLink("Accounts","Testing","Example")</button>
  <button class="btn btn-dark" type="button">@Html.ActionLink("Detail","Res","Example")</button>
  
</div>

    
  </div>
  <img src="~/ui.png" alt="Example.jpg" height=300px , width = 50/>
  </div>