@model WebApplication1.Models.listStudent;
@using System.Collections.Generic;
@using WebApplication1.Sevices

@{
	listStudent li = new listStudent();
	List<StudentDetail> Res = li.GetStudentDetails();

	foreach(var pep in Res)
	{
		<p>
			Name - @pep.studentName
			Id - @pep.studentId
			REsult - @pep.studentStatus
		</p>
	}
}

<button type="button" class="btn btn-dark"> @Html.ActionLink("Home","Index",new {id = Encrypt.EnryptString("Home".ToString())})</button>